@import 'bootstrap/dist/css/bootstrap.min.css';


.container {
    display: flex;
    width: 20px; 
    margin: auto; 
    background: black; 
    /* padding: 300px;  */
    /* border-radius: 10px;  */
}

.bigCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
    background: black;
}

.bigCounter div {
    display: flex;
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 30px;
}

.calendary {
    display: flex;
    align-items: center;
}

.con-style   {
    margin-left: 10px;
    font-size: 30px;
}
